---
import Layout from '../layouts/Layout.astro'

---

<Layout>
    <main>

        <div class="flex flex-col gap-6 p-6">
            <h1 class="m-10 text-2xl font-bold tracking-widest">
                LEADERBOARD GOES HERE
            </h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum obcaecati excepturi nostrum atque eos iure deserunt esse debitis, facilis molestiae temporibus cupiditate, ut dolorem incidunt neque et. Eius, aut magnam.
            </p>
        </div>

    </main>
</Layout>
