---
import Layout from '../layouts/Layout.astro'

---

<Layout>
    <main>

        <div class="flex flex-col gap-6 p-6">
            <h1 class="m-10 text-2xl font-bold tracking-widest">
                WALLET
            </h1>

            <p>
                [ IMPORT WALLET HERE ]
            </p>
        </div>

    </main>
</Layout>
