---

---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

    <h1 class="text-sky-300 font-thin text-4xl">
        Welcome to DashSwap!
    </h1>

    <p>
        Introducing the <span class="text-lg font-bold text-amber-300">Pre-Alpha Preview</span> for the soon to be released DashSwap decentralized exchange (DEX).
    </p>

    <section>
        <h3 class="text-lg font-bold text-amber-300">
            Features Services Include
        </h3>

        <ol class="pl-10 list-decimal">
            <li>Instant $TOKEN swap</li>
            <li>Custom $TOKEN launcher</li>
            <li>Paymaster (for $DASH-free transfers)</li>
        </ol>
    </section>

    <p>
        DashSwap will offer full 1st-class support for all <span class="font-bold">DASH $TOKENS</span>; following the Dash Platform v2.0 upgrade and the introduction of <span class="font-bold">"Native" Fungible Tokens</span>.
    </p>

    <section>
        <h3 class="text-lg font-bold text-amber-300">
            Liquidity Providers (LPs)
        </h3>

        <p>
            Work to GUARANTEE instant transaction matching, execution and settlement—assuring the community a healthy $TOKEN economy for both Builders and Creators alike.
        </p>
    </section>

</div>
