---

---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

    <h1>
        Help &amp; Support Center
    </h1>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium voluptatibus doloribus aliquam, nihil sint, voluptate cumque consectetur eos assumenda error mollitia iusto quasi. Consequatur hic quaerat at, modi sunt ex?

</div>
