---
import { Code } from 'astro:components'
import SubMenu from './backend/SubMenu.vue'

const code = `# Back-end Integration for Python/Django
from dashswap import Swap

def my_order(request):
    # Use the Swap function from dashswap
    result = Swap.buy('DUSD')
    return HTTpResponse(result)
`
---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

    <SubMenu />

    <Code
        code={code}
        lang="py"
        wrap={true}
    />

</div>

<style is:global>

    /* Custom styling for code block line numbers */
    pre.astro-code {
        @apply bg-transparent !important;
    }

    pre.astro-code code {
        @apply block;
        counter-reset: step;
        counter-increment: step 0;
    }

    pre.astro-code code .line {
        @apply relative;
    }

    pre.astro-code code .line::before {
        content: counter(step);
        counter-increment: step;
        @apply text-gray-600 pr-2;
    }

</style>
