---

---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

    <h1 class="text-sky-300 font-thin text-4xl">
        Welcome to DashSwap!
    </h1>

    <p>
        Introducing the <span class="font-bold text-amber-300">Pre-Alpha Preview</span> for the soon to be released DashSwap decentralized exchange (DEX).
    </p>

    <p>
        DashSwap will offer full 1st-class support for all <span class="font-bold text-amber-300">DASH $TOKENS</span>; following the Dash Platform v2.0 upgrade and the introduction of <span class="font-bold text-amber-300">"Native" Fungible Tokens</span>.
    </p>

    <p>
        <span class="font-bold text-amber-300">Liquidity Providers (LPs)</span> guarantee instant transaction matching, execution and settlement—assuring the community a healthy $TOKEN economy for both Builders and Creators alike.
    </p>

</div>
